$blue: #00f;
$purple: #80d;
$grey: #aaa;

$cursor-thickness: 0.25em;

#board {
	position: relative;

	#grid {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		border-bottom: 5px solid red;
		> * {
			position: absolute;
			// &.pusher { outline: 1px solid red; }

			&.blue {
				background-color: $blue;
			}
			&.purple {
				background-color: $purple;
			}
			&.grey {
				background-color: $grey;
			}

			background-size: contain;
			&.p {
				background-image: url('../img/p.png');
			}
			&.plus {
				background-image: url('../img/plus.png');
			}
			&.k {
				background-image: url('../img/k.png');
			}
			&.robot {
				background-image: url('../img/robot.png');
			}
			&.star {
				background-image: url('../img/star.png');
			}
			&.question {
				background-image: url('../img/question.png');
			}
			&.triforce {
				background-image: url('../img/triforce.png');
			}
			&.infinity {
				background-image: url('../img/infinity.png');
			}
			&.teapot {
				background-image: url('../img/teapot.png');
			}
			&.cupcake {
				background-image: url('../img/cupcake.png');
			}

			transition: opacity 300ms;
			&.die {
				opacity: 0;
			}
		}
	}

	#pusher {
		position: absolute;
		z-index: 0;
		background: #ddd;
		left: 0;
		outline: 1em solid #ddd;
	}

	#cursors {
		position: relative;
		left: -$cursor-thickness;
		top: -$cursor-thickness;
		> * {
			position: absolute;
			z-index: 2;
			border-radius: .25em;
			&:first-child {
				border: $cursor-thickness solid #f80;
			}
			&:nth-child(2) {
				border: $cursor-thickness solid #f0f;
			}
		}
	}
}

#score {
	font-size: 10em;
	position: absolute;
	display: block;
	right: 1rem;
	top: 1rem;
	font-family: sans-serif;
	text-align: right;
}
#drops {
	font-size: 5em;
	position: absolute;
	display: block;
	right: 1rem;
	top: 14rem;
	font-family: sans-serif;
	text-align: right;
}

#swap-timer {
	position: absolute;
	display: block;
	right: 1rem;
	width: 20vw;
	height: 1rem;
	top: 12rem;

	#swap-filler {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
	}

	&.swap-1 {
		background-color: $blue;
		#swap-filler {
			background-color: $purple;
		}
	}
	&.swap-2 {
		background-color: $purple;
		#swap-filler {
			background-color: $grey;
		}
	}
	&.swap-0 {
		background-color: $grey;
		#swap-filler {
			background-color: $blue;
		}
	}
}