#board {
	position: relative;

	#grid {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		> * {
			position: absolute;
			// &.pusher { outline: 1px solid red; }

			&.blue {
				background-color: #0000ff;
			}
			&.purple {
				background-color: #8800dd;
			}
			&.grey {
				background-color: #dddddd;
			}

			background-size: contain;
			&.p {
				background-image: url('../img/p.png');
			}
			&.plus {
				background-image: url('../img/plus.png');
			}
			&.k {
				background-image: url('../img/k.png');
			}
			&.robot {
				background-image: url('../img/robot.png');
			}
			&.star {
				background-image: url('../img/star.png');
			}
			&.question {
				background-image: url('../img/question.png');
			}
			&.triforce {
				background-image: url('../img/triforce.png');
			}
			&.infinity {
				background-image: url('../img/infinity.png');
			}
			&.teapot {
				background-image: url('../img/teapot.png');
			}
			&.cupcake {
				background-image: url('../img/cupcake.png');
			}
		}
	}

	#pusher {
		position: absolute;
		z-index: 0;
		background: #ddd;
		left: 0;
		outline: 1em solid #ddd;
	}

	#cursors {
		position: relative;
		left: -.25em;
		top: -.25em;
		> * {
			position: absolute;
			z-index: 2;
			transition: top 150ms, left 150ms;
			border-radius: .25em;
			&:first-child {
				border: .25em solid #f80;
			}
			&:nth-child(2) {
				border: .25em solid #f0f;
			}
		}
	}
}

#score {
	font-size: 10em;
	position: absolute;
	display: block;
	right: 1rem;
	top: 1rem;
	font-family: sans-serif;
	text-align: right;
}